*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
  
}
body{
  background:#C4E1F6;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  font-size: 2rem;
  height: 5rem;
  width: 100%;
  align-items: center;
  background-color:#f1eee9;
  border-radius: 5px ;
  display: flex;
  position:absolute;
  margin-bottom: 40%;
}
.container div{
  margin-left: 22%;
 
}
.container div h1{
color: #ff6348;
}

.contact-info{
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  
}

.card{
  background:#f1eee9;
  padding: 0 20px;
  margin: 0 10px;
  margin-top: 5rem;
  width: calc(33% - 20px);
  height:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border-radius: 2rem;
}

.card-icon{
  font-size: 28px;
  background: #ff6348;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon{
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}

.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
  text-decoration: none;
}

.card:hover p{
  max-height: 40px;
  opacity: 1;
  text-decoration: none;
  color:blue;
  font-weight: bolder;
}


@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .card{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
  .container{
    display: none;
  }
}




